@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

::-webkit-scrollbar{
    width: 8px;
}

::-webkit-scrollbar-thumb{  
    background-color: #173245;
    border-radius: 5px;
}

::-webkit-scrollbar-track{
    background: #d3d3d3;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Comfortaa', cursive;
    font-size: 16px;
}

body {
    background-image: url('../images/background-image.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.login {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50vw;
    min-height: 60vh;
    background: rgba(23, 50, 69, 0.3);
    box-shadow: 0 0 5px rgba(23, 50, 69, 0.5);
    overflow: auto;
}

.wrapper {
    height: 100%;
    padding: 40px 65px 25px 65px;
}

.login a {
    color: #808080;
    margin-top: -20px;
}

.sign-btn {
    background: #173245;
    color: #d0dce6;
    padding: 10px;
    margin: 50px 0 10px 0;
}

.sign-btn:hover {
    color:#93a9b9
}

.form {
    margin-top: 25px;
}

.form .container {
    padding:0;
}

.form-login {
    transform: translate(0, 40%);
}

.sign-in {
    margin-right: 30px;
}

.sign a{
    position: relative;
    color: #fff;
    font-size: max(1.2rem, 18px);
    cursor: pointer;
    line-height: 1;
    text-decoration: none;
}

.sign a:after{
    display: block;
	position: absolute;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #173245;
    content: "";
    transition: width 0.4s ease-out;
}

.sign a:hover:after,
a:focus:after {
	width: 100%;
}

.form-control, .form-control is-valid {
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
    line-height: 1;
    border-bottom: 1px solid #fff;
    box-shadow: none !important;
    font-size: max(1rem, 16px);
}

.form-control::placeholder {
    color: rgb(235, 235, 235);
}

.form-control:focus, .was-validated .form-control:invalid, 
.was-validated .form-control:valid,
.form-control.is-invalid, .form-control.is-valid, 
.form-control.is-valid:focus, .form-control.is-invalid:focus {
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
    line-height: 1;
    border-bottom: 1px solid #fff;
    color: #000;
    padding: 0;
    margin: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

.was-validated .custom-control-input:valid ~ .custom-control-label,
.custom-control-input.is-valid ~ .custom-control-label {
    color: #000;;
}

label {
    margin-bottom: 0;
}

#form-signup {
    font-size: 2vh;
}

.forgot {
    text-align: center;
}

.forgot a {
    font-size: 0.9rem;
    color: #fff;
    margin: 0px;
}

.forgot a:hover {
    text-decoration: none;
}

h4 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
    color: rgb(238, 238, 238);
}

.captcha {
    top: 10px;
}

@media(max-width: 1024px) {
    .login {
        width: 700px;
    }
}

@media(max-width: 767px) {
    .wrapper {
        padding: 30px 50px;
    }

    .login {
        width: 80%;
    }

    .sign a:hover:after,
    a:focus:after {
        width: 0;
    }
}

@media(max-width: 640px) {
    .login {
        width: 100%;
        min-height: 100%;
        overflow: auto;
    }

    .wrapper {
        min-height: 100vh;
        max-height: 100vh;
    }

    .sign {
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
    }

    .sign a{
        font-size: 25px;
    }

    .forgot {
        justify-content: center;
        padding-bottom: 30px;
    }

    .forgot a {
        font-size: 20px;
    }

    .sign-btn {
        margin: 25px 0 10px 0;
        font-size: 20px;
    }

    .form {
        font-size: 18px;
    }

    .form-login {
        transform: translate(0, 30vh);
    }

    .form-control {
        font-size: 20px;
    }

    img {
        width: 200px;
    }
}

@media(max-width: 480px) {
    .sign a{
        font-size: 18px;
    }

    .form-control {
        font-size: 20px;
    }

    .sign-btn {
        font-size: 16px;
    }

    #form-signup {
        font-size: 2.5vh;
    }
}

@media(max-width: 320px) {
    .sign {
        margin-top: 10px;
        display: block;
    }

    .sign-btn {
        font-size: 14px;
    }

    .form-control, .form-control is-valid {
        font-size: 15px;
    }

    #form-signup {
        font-size: 3vh;
    }
    
}

@media(min-width:1024px) and (max-height: 900px) {
    .login{
        min-height: 70vh;
        max-height: 100vh;
    }
}

@media (min-width:641px) and (max-height: 750px) {
    .login{
        min-height: 80vh;
        max-height: 100vh;
    }
    #form-signup {
        font-size: 2.5vh;
    }
}