@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@700;800;900&display=swap');

html,
body {
    height: 100%;
    font-family: 'Comfortaa', cursive;
    background: #6d7fcc;
    margin: 0;
    font-size: 16px;
}

.wrapper {
    min-height: 100%;
    display: flex;
    align-items: stretch;
    margin-left: 87px;
    background-color: #6d7fcc;
}

.page {
    width: 100%;
    padding: 30px 20px 20px 20px;
    background-color: #fafafa;
    border-radius: 30px;
    margin: 20px 10px 20px 3px;
}

p {
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
}

/* ----- BREADCRUMB ----- */
.container {
    margin: 0 10px;
    padding: 0;
    width: 100%;
}

.breadcrumb {
    background: none;
    padding: 0;
}
/* ----- END BREADCRUMB ----- */

/* ----- SEARCH ----- */
.projects-search {
    margin: 0 10px;
}

.projects-search .form-control {
    display: inline-block;
}

.search {
    width: 40px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-bottom: 2px;
    background-color: #D076D3;
    color: #fff;
    margin-left: -40px;
}

.search:hover {
    background-color: #A95FE5;
    color: #fff;
}

#form-search .form-control {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width: 400px;
    padding-right: 45px;
}

/* ----- END SEARCH ----- */
.description {
    margin-right: 25px;
}

.projects-form .select2 > span {
    display: block;
}

.rounded-circle {
    margin: 20px 0 0 15px;
}

.block-text {
	overflow: hidden;
	line-height: 20px;
}
.block-text p {
	margin: 0 0 0 0;
}
.line-clamp {
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
}
.card-body {
    min-height: 120px;
}

.wait {
    margin-bottom: 10px;
}

.site-contact {
    padding-left: 50px;
}

.projects-view td > img{
    max-width: 80px;
}

.user-view td > img{
    max-width: 80px;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

@media screen and (max-width: 640px) {
    .container {
        display: none;
    }
    .content {
        width: 100%;
    }
    .wrapper {
        min-height: 100%;
        align-items: stretch;
        margin-left: 0;
        background-color: #6d7fcc;
    }
    .page {
        margin: 20px 5px 5px 5px;
        margin-top: 93px;
        padding: 20px 0 20px 0;
    }
    .badge {
        font-size: 0.9em;
    }

    #form-search .form-control {
        border-radius: 5px;
        width: 89.5vw;
        padding-right: 43px;
    }
    .projects-search {
        margin: 0 0 0 10px;
    }
    .project-card {
        flex-direction:row;
        margin: 0;
        margin-bottom: 10px;
    }
    .card-body {
        padding: 0.2rem 0.2rem 0.2rem 1rem;
    }
    .site-contact {
        padding-left: 0;
    }
    .projects-create, .user-update, .form, .site-contact, 
  	.dashboard-create, .projects-update, .waitmembers, .dashboard-update{
    padding: 0 10px;
    }
}

@media screen and (max-width: 480px) {
    #form-search .form-control {
        border-radius: 5px;
        width: 75vw;
        padding-right: 35px;
    }
  	.page {
        margin-top: 70px;
    }
    .search {
        width: 10px;
        background-color: rgb(0, 0, 0, 0);
        color: rgb(0, 0, 0);
    }
    
    .search:hover {
        background-color: rgb(0, 0, 0, 0);
        color: rgb(0, 0, 0);
    }
  .list-view .card {
  	padding: 5px;
  }
  .card-body .well {
  	display: none;
  }
  .card-body small {
  	min-width: 42px;
  }
  .card-body .project-title {
  	font-size: 1rem;
  }
  .card-body .description {
  	margin-right: 0;
    font-size: 0.8rem;
  }

}